$main-bg-color: #2188b6

.login-wrap
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  min-height: 100vh
  background: $main-bg-color
  background-image: linear-gradient(-45deg, #596284 0%, #24283e 100%)

.login-card
  width: 26em