@import "~./vars.sass"

.line-decorated-text
  padding-left: 0.36em
  border-left: 0.2em solid $ds-theme-color
  color: #000
  // line-height: 1.1em
  small
    font-size: 0.8em
    opacity: 0.8


.ds-ant-table-wrapper .ant-table-small
  border-style: none !important
  border-bottom-style: solid !important
  border-radius: 0 !important

.ds-ant-table-wrapper .ant-table-body
  margin: 0 !important

.ds-table-row
  border-left: 2px solid transparent
  &:hover
    border-left-color: #02bbf1
    > td
      background: #f9f9f9 !important

.ds-table-first-column
  padding-left: 18px !important
.ds-table-last-column
  padding-right: 26px !important

.ds-table-expanded-row
  &:hover > td
    background-color: #f9f9f9 !important


.ant-btn.button--deep-gray-primary
  background-color: #272b42
  border-color: #272b42
  &:hover, &:focus
    border-color: #272b42
    background-color: #575b72

.ds-button-round-corner
  border-radius: 99em !important

